//    ______                                     
//   / ____/___  ________    ____________________
//  / /   / __ \/ ___/ _ \  / ___/ ___/ ___/ ___/
// / /___/ /_/ / /  /  __/ (__  ) /__(__  |__  ) 
// \____/\____/_/   \___(_)____/\___/____/____/  
// 

// Estilizador -> El archivo asigna estilos a un elemento determinado
// Modificador -> El archivo modifica los estilos asignados por otro archivo. Este tipo de archivo debe cargarse al final de la cola de carga
// Asignador   -> El archivo contiene variables que serán usadas por otros archivos. Por lo tanto debe cargarse antes de los archivos vinculados.
// Crítico     -> El archivo asigna estilos pero debe ser cargado al principio de la cola de carga

// -------------------------------------------------------------------
// --- Base styles ---------------------------------------------------
// -------------------------------------------------------------------

@import "./base/_body.scss"; // Estilizador
@import "./base/_fonts.scss"; // Estilizador
@import "./base/_images.scss"; // Estilizador
@import "./base/_links.scss"; // Estilizador
@import "./base/_paragraphs.scss"; // Estilizador
@import "./base/_sections.scss"; // Estilizador
@import "./base/_titles.scss"; // Estilizador



// -------------------------------------------------------------------
// --- Library styles ----------------------------------------------
// -------------------------------------------------------------------

@import "./theme/_querys.scss"; // Asignador Crítico
@import "./theme/_titles.scss"; // Modificador Crítico
@import "./theme/_colors.scss"; // Asignador
@import "./theme/_sections.scss"; // Estilizador
@import "./theme/_flexbox.scss"; // Estilizador
@import "./theme/_paragraphs.scss"; // Estilizador
@import "./theme/_columns.scss"; // Estilizador
@import "./theme/_margins.scss"; // Modificador
@import "./theme/_paddings.scss"; // Modificador



// -------------------------------------------------------------------
// --- DOM styles ----------------------------------------------------
// -------------------------------------------------------------------

@import "./dom/scrollbar.scss"; // Estilizador Crítico



// -------------------------------------------------------------------
// --- Components Styles ---------------------------------------------
// -------------------------------------------------------------------

@import "./components-styles/all-components-styles.scss"; // Estilizador