// Clases Css
.document-whitesmoke{ background-color: $color_whitesmoke; }

.focus-azure{ background-color: $color_focus_azure; }
.focus-alice{ background-color: $color_focus_alice; }
.focus-antique{ background-color: $color_focus_antique; }
.focus-honey{ background-color: $color_focus_honey; }
.focus-beige{ background-color: $color_focus_beige; }
.focus-mint{ background-color: $color_focus_mint; }