
//     __  ___                 _           
//    /  |/  /___ __________ _(_)___  _____
//   / /|_/ / __ `/ ___/ __ `/ / __ \/ ___/
//  / /  / / /_/ / /  / /_/ / / / / (__  ) 
// /_/  /_/\__,_/_/   \__, /_/_/ /_/____/  
//                   /____/                


$margin_start:  1;
$margin_end:    6;
$margin_unit: 5px;


// Margin General
@for $i from $margin_start through $margin_end {
    .m-#{$i} {
        margin: $margin_unit * $i;
    }
}

// Margin Left
@for $i from $margin_start through $margin_end {
    .ml-#{$i} {
        margin-left: $margin_unit * $i;
    }
}

// Margin Right
@for $i from $margin_start through $margin_end {
    .mr-#{$i} {
        margin-right: $margin_unit * $i;
    }
}

// Margin Top
@for $i from $margin_start through $margin_end {
    .mt-#{$i} {
        margin-top: $margin_unit * $i;
    }
}

// Margin Bottom
@for $i from $margin_start through $margin_end {
    .mb-#{$i} {
        margin-bottom: $margin_unit * $i;
    }
}

.m-none{ 
    margin: 0; 
}

.mt-none{ 
    margin-top: 0; 
}

.mr-none{ 
    margin-right: 0; 
}

.mb-none{ 
    margin-bottom: 0; 
}

.ml-none{ 
    margin-left: 0; 
}