.text-normal{ font-size: 1rem; }
.text-small{ font-size: 0.8rem; }
.text-justify{ text-align: justify; }
.text-left{ text-align: left; }
.text-right{ text-align: right; }
.text-uppercase{ text-transform: uppercase; }
.text-lowercase{ text-transform: lowercase; }
.text-capitalize{ text-transform: capitalize; }