
//    ______      __               
//   / ____/___  / /___  __________
//  / /   / __ \/ / __ \/ ___/ ___/
// / /___/ /_/ / / /_/ / /  (__  ) 
// \____/\____/_/\____/_/  /____/  


// Brand Colors
$color_brand_yellow: #FCE800;
$color_brand_dark: #1A1A1A;
$color_brand_blue: #2280E6;

// Document Colors
$color_white:      #FFFAFA;
$color_whitesmoke: #F5F5F5;

// Link Colors
$color_link:      #6495ED;


// Focus Colors
$color_focus_azure:   #F0FFFF;
$color_focus_alice:   #F0F8FF;
$color_focus_antique: #FAEBD7;
$color_focus_honey:   #F0FFF0;
$color_focus_beige:   #F5F5DC;
$color_focus_mint:    #F5FFFA;


// Clasic Colors
$color_red:     #DC143C;
$color_green:   #9ACD32;
$color_blue:    #1E90FF;
$color_orange:  #FF7F50;
$color_yellow:  #FFD700;
$color_pink:    #FF1493;
$color_purple:  #8A2BE2;
$color_brown:   #DEB887;


// Special Colors
$color_tomato:     #FF6347;
$color_aquamarine: #7FFFD4;
$color_cadetblue:  #5F9EA0;
$color_salmon:     #FA8072;
$color_teal:       #008080;


// Gray Scale Colors
$color_gray_dark: #C1C1C1;
$color_gray: #A9A9A9;
$color_gray_light: #F1F1F1;