
//   _______ __  __         
//  /_  __(_) /_/ /__  _____
//   / / / / __/ / _ \/ ___/
//  / / / / /_/ /  __(__  ) 
// /_/ /_/\__/_/\___/____/  
                         


h1, h2, h3, h4{ margin-top: 0; }

.h1, h1{ font-size: 4rem; }
.h2, h2{ font-size: 3rem; }
.h3, h3{ font-size: 2rem; }
.h4, h4{ font-size: 1.5rem; }
.h5, h5{ font-size: 1.25rem; }