
//    ______                                     
//   / ____/___  ________    ____________________
//  / /   / __ \/ ___/ _ \  / ___/ ___/ ___/ ___/
// / /___/ /_/ / /  /  __/ (__  ) /__(__  |__  ) 
// \____/\____/_/   \___(_)____/\___/____/____/  
// 

// -------------------------------------------------------------------
// --- Base styles ---------------------------------------------------
// -------------------------------------------------------------------

@import "./base/_colors.scss";
@import "./base/_fonts.scss";
@import "./base/_querys.scss";
@import "./base/_body.scss";
@import "./base/_sections.scss";
@import "./base/_titles.scss";
@import "./base/_links.scss";
@import "./base/_paragraphs.scss";
@import "./base/_flexbox.scss";
@import "./base/_paddings.scss";
@import "./base/_margins.scss";
@import "./base/_columns.scss";
@import "./base/_images.scss";

// -------------------------------------------------------------------
// --- Components styles ---------------------------------------------
// -------------------------------------------------------------------
@import "./components/components-styles.scss";