main(class="container-full focus-whitesmoke mt-0 welcome")
      div(class="row pb-0")
        div(class="col-2 move-col-5")
            picture
                block image
      div(class="row")
        div(class="col-10 move-col-1 text-center")
            h1(class="h2 mb-1") Landstorm Developer System
            a(href="https://github.com/LuisDark123/Landstorm_Developer_System", target="_blank") Versión 1.0