extends header_welcome_template
 
block image
  source(data-srcset="./images/landstorm-logo.webp" type="image/webp" alt="Luis Falcon - luisdark935" class="b-lazy" srcset="data:image/webp;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")
  source(data-srcset="./images/landstorm-logo.png" type="image/png" alt="Luis Falcon - luisdark935" class="b-lazy" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")
  img(data-src="./images/landstorm-logo.png" alt="Luis Falcon - luisdark935" class="b-lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")