extends ../layouts/template.pug

block SEO
    //- Código SEO de Ejemplo - Lo puedes generar con la herramienta de SEO en la carpeta "Tools"
    title Landstorm Developer System - Sistema de generación de sitios web estáticos
    link(rel="canonical" href="https://landstorm.dev/")
    meta(name='robots' content='index, follow')
    meta(name="description" content="Landstorm Developer System es un entorno de desarrollo pensado para generar sitios web estáticos con las mejores practicas.")
    meta(name="google" content="nositelinkssearchbox")
    meta(name="image" content="https://landstorm.dev/images/imagen.jpg")
    meta(name='language' content='es')
    meta(http-equiv='content-language' content='es')
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(itemprop="name" content="Landstorm")
    meta(itemprop="description" content="Landstorm Developer System es un entorno de desarrollo pensado para generar sitios web estáticos con las mejores practicas.")
    meta(itemprop="image" content="https://landstorm.dev/images/imagen.jpg" )
    meta(name="og:title" content="Landstorm Developer System - Sistema de generación de sitios web estáticos")
    meta(name="og:description" content="Landstorm Developer System es un entorno de desarrollo pensado para generar sitios web estáticos con las mejores practicas.")
    meta(name="og:image" content="https://landstorm.dev/images/imagen.jpg")
    meta(property="og:image:secure_url" content="https://landstorm.dev/images/imagen.jpg")
    meta(name="og:url" content="https://landstorm.dev")
    meta(name="og:site_name" content="Landstorm")
    meta(name="og:locale" content="es_MX")
    meta(name="og:type" content="website")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:description" content="Landstorm Developer System es un entorno de desarrollo pensado para generar sitios web estáticos con las mejores practicas.")
    meta(name="twitter:title" content="Landstorm Developer System - Sistema de generación de sitios web estáticos")
    meta(name="twitter:image" content="images/imagen.jpg")

block BODY
    div(class="container-full focus-whitesmoke mt-0")
      div(class="row pb-0")
        div(class="col-4 move-col-4")
          picture
            source(data-srcset="./images/landstorm-ds.webp" type="image/webp" alt="Luis Falcon - luisdark935" class="b-lazy" srcset="data:image/webp;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")
            source(data-srcset="./images/landstorm-ds.png" type="image/png" alt="Luis Falcon - luisdark935" class="b-lazy" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")
            img(data-src="./images/landstorm-ds.png" alt="Luis Falcon - luisdark935" class="b-lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")
      div(class="row")
        div(class="col-8")
          include ../components/videoplayers/videoplayer_vanilla/videoplayer_vanilla_01